<!--
   cas_result.html.html
   
   Copyright 2018 randon <randon@randonmac>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
%import json
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>{{cas_number}}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
	<h1 style="color: #5e9ca0;">{{cas_number}}</h1>
<hr />
<h2 style="color: #2e6c80;">{{substance.get('IUPAC')}}</h2>
	<table>
		<tbody>
			<tr>
				<td>
					Common Names
				</td>
				<td>
					%for name in json.loads(substance.get('commonNames')):
					{{name}} 
					%end
				</td>
			</tr>
			<tr>
				<td style="width: 296.35px;">
					Trade Names
				</td>
				<td style="width: 131.65px;">
					%for name in json.loads(substance.get('tradeNames')):
					{{name}} 
					%end
				</td>
			</tr>
		</tbody>
	</table>
	<h2 style="color: #2e6c80;">Spectra</h2>
	<h3>NMR</h3>
	<img src="data:image/jpeg;{{substance.get('NMR')}}"  width="150" height="150" />
</body>

</html>
