<!--
   cas_result.html.html
   
   Copyright 2018 randon <randon@randonmac>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
%import json
%import base64
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>{{tradeName}}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
	<h1 style="color: #5e9ca0;">Trade Name: {{tradeName}}</h1>
<hr />
<h2 style="color: #2e6c80;">CAS Numbers: {{substance.get('casNumber')}}</h2>
	<table>
		<tbody>
			<tr>
				<td>
					manufacturer: 
				</td>
				<td>
					{{substance.get('manufacturer')}}
				</td>
			</tr>
			<tr>
				<td style>
					structural description :  
				</td>
				<td>
					{{substance.get('structuralName')}}
				</td>
			</tr>
			<tr>
				<td style>
					Active Fraction:
				</td>
				<td>
					{{substance.get('activeFraction')}}
				</td>
			</tr>
			<tr>
				<td style>
					phase: 
				</td>
				<td>
					{{substance.get('form')}}
				</td>
			</tr>
			<tr>
				<td style>
					pH :  
				</td>
				<td>
					{{substance.get('pH')}}
				</td>
			</tr>
			<tr>
				<td style>
					biodegradeable? :  
				</td>
				<td>
					{{substance.get('biodegradable')}}
				</td>
			</tr>
			<tr>
				<td style>
					toxicity :  
				</td>
				<td>
					{{substance.get('toxicity')}}
				</td>
			</tr>
			<tr>
				<td style>
					comments :  
				</td>
				<td>
					{{substance.get('comments')}}
				</td>
			</tr>
		</tbody>
	</table>
	<h2 style="color: #2e6c80;">Spectra</h2>
	<h3>NMR</h3>
	%nmrData = substance.get('NMR')
	%if type(nmrData)==type(None):
		%nmrData=b' '
	%end
	<img src="data:image/jpeg;base64,{{base64.encodestring(nmrData)}}"  width="250" height="250" />
	
	<a href="/edit/{{tradeName}}">Update this entry</a>
</body>

</html>
