<!--
   edit.html
   
   Copyright 2018 randon <randon@randonmac>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU Affero General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--

"""
0 - manufacturer
1 - tradeName
2 - activeFraction
3 - form
4 - pH
5 - biodegradable
6 - toxicity
7 - comments
9 - HLB
10 - structuralName
11 - casNumber
12 - structureClass
13 - health
14 - flammability
15 - reactivity
16 - ppe
17 - NFPAFlammClass
18 - shelf
19 - borrowedBy
"""

-->
<head>
	<title>Editing {{tradeName}}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="generator" content="Geany 1.32" />
</head>

<body>

	<h1 style="color: #5e9ca0;">Edit entry for <span style="color: #2b2301;">{{tradeName}}</span></h1>
	<form action="/edit/{{tradeName}}" method="post" enctype="multipart/form-data">
		<table>
			<tbody>
				<tr >
				<td >trade name</td>
				<td ><input name="tradeName" type="text" value="{{tradeName}}"></td>
				</tr>
				<tr >
				<td >CAS number</td>
				<td ><input name="casNumber" type="text" value="{{casNumber}}"></td>
				</tr>
				<tr >
				<td >structural description</td>
				<td ><input name="structuralName" type="text" value="{{structuralName}}"></td>
				</tr>
				<tr >
				<td >manufacturer</td>
				<td ><input name="manufacturer" type="text" value="{{manufacturer}}"></td>
				</tr>
				<tr >
				<td >Percent Active Solids</td>
				<td ><input name="activeFraction" type="text" value="{{activeFraction}}"></td>
				</tr>
				<tr >
				<td >pH</td>
				<td ><input name="pH" type="text" value="{{pH}}"></td>
				</tr>
				<tr >
				<td >form</td>
				<td ><input name="form" type="text" value="{{form}}"></td>
				</tr>
				<tr >
				<td >biodegradeable (yes/no)</td>
				<td ><input name="biodegradable" type="text" value="{{biodegradable}}"></td>
				</tr>
				<tr>
				<td>toxicity</td>
				<td><input name="toxicity" type="text" value="{{toxicity}}"></td>
				</tr>
				<tr >
				<td >Health #</td>
				<td ><input name="health" type="text" value="{{health}}"></td>
				</tr>
				<tr >
				<td >Flammability #</td>
				<td ><input name="flammability" type="text" value="{{flammability}}"></td>
				</tr>
				<tr >
				<td >Reactivity #</td>
				<td ><input name="reactivity" type="text" value="{{reactivity}}"></td>
				</tr>
				<tr >
				<td >Personal Protective Equipment class</td>
				<td ><input name="ppe" type="text" value="{{ppe}}"></td>
				</tr>
				<tr >
				<td >comments</td>
				<td ><input name="comments" type="text" value="{{comments}}"></td>
				</tr>
			</tbody>
		</table>
		<h1 style="color: #5e9ca0;">Upload Spectra for <span style="color: #2b2301;">{{tradeName}}</span></h1>
		Select a file: <input type="file" name="NMR" />
		<input type="submit" value="submit" />
	</form>
</body>

</html>
