<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<form action="/search" method="post">
            Query: <input name="query" type="text">
			<input value="Search" type="submit">
        </form>
        <h2 style="color: #2e6c80;">Results Found: {{numberReturned}}</h2>

        <ul>
        %for item in results:
			<li><a href='/mol/{{item[0]}}'>{{item[0]}}</a> ({{item[1]}})</li>
		%end
        </ul>
        
			
    </body>
</html>
